body{
    background-color: black;
}

#spinner{
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#side-nav{
    position: fixed;
    top: 0;
    z-index: 555555;
}

.inner-menu{
    width: 280px;
    height: 100vh;
    background: black; 
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 15px;
    display: none;
}

.inner-menu header p{
    cursor: pointer;
}

.fa-x{
    cursor: pointer;
    display: none;
}
.fa-bars{
    font-size: 30px;
    cursor: pointer;
}
.outter-nav{
    width: 65px;
    height: 100vh;
    background-color: white;
}


article {
    position: relative;
    overflow: hidden;
}

.white-layer{
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    padding-left: 10px;
}

article:hover .white-layer{
    top: 0;
}

.col-lg-8 .rescipies {
    background-color: cadetblue;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}

